<div id="todos">
  <section>
    <h2>Tareas</h2>
    <div id="nuevaTarea">
      <input [(ngModel)]="nuevaTarea" type="text"><span class="glyphicon glyphicon-ok-circle" (click)="anadirTarea()"></span>
    </div>
    <ul>
      <li *ngFor="let todo of todos">
        <input type="checkbox" [checked]="todo.completed" (click)="cambiarEstado(todo.id)">
        <span [ngStyle]="{'text-decoration': (todo.completed) ? 'line-through' : ''}">{{todo.title}}</span>
        <span class="glyphicon glyphicon-trash" (click)="delete(todo)"></span> <!-- (click)="eliminarTarea(todo.id)" -->
      </li>
    </ul>
  </section>
</div>