<section id="propiedades">
  <h2>Propiedades</h2>
  <p [hidden]="true" >Componente para jugar con las <b>[propiedades]</b> en Angular</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus aspernatur illum voluptate facere aperiam atque, exercitationem neque dolore recusandae cum. Eum et minus, debitis excepturi eligendi corporis similique minima.</p>

  <h3>Propiedad [style]</h3>
  <p [style.color]="color">[style.color]="color"Cambiamos el color del parrafo mediante un atributo</p>
  <p [style.backgroundColor]="'red'">[style.backgroundColor]="'red'"VISIBLE - Podemos usar el operador de negación <b>!</b></p>

  <h3>Propiedad [hidden]</h3>
  <p [hidden]="!ocultar" >VISIBLE - Podemos usar el operador de negación <b>!</b></p>
  <p [hidden]="ocultar" >OCULTO - No se muestra mediante CSS <code>display none</code></p>

  <h3>Propiedad [href]</h3>
  <a [href]="enlace" target="_blank">Manual de Angular</a>
  <a [id]="color">Manual de Angular</a>
</section>