.caption{
    h3{
        text-align: center;
    }
}

.positivo{
    background: cornflowerblue;
}

.negativo{
    background: coral;
}

.comparado{
    height: 100%;
}

.thumbnail img{
    width: 200px;
}